.RoRo{
  position:relative;
  margin:0 auto;
}

.Willie{
  position:relative;
}

.firstCat{
	float:left;
	margin:0 auto;
	background-color:teal;
}

.secondCat{
	display:none;
	float:left;
	margin:0 auto;
	background-color:purple;
}

body{
	padding-top:2em;
	background-color: #00FFCC;
}

.catName{
	float:left;
	margin: -2em 0 0 2em;
}

h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size:2em;
}

.nextCat, .previousCat{
	width: 5%;
	text-align:center;
	font-size:4em;
	color:white;
	z-index:0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:200;
	margin-top:2em;

}	

div p:hover{	
	opacity:0.75;
	cursor:default;
}	

.nextCat {
	float:right;
}

.previousCat {
	float:left;
}

.nextCat a {
	text-decoration:none;
	color:black;
}

footer{
	margin-top:3em;
	clear:both;
}

.copyright{
	text-align:left;
	float:left;
	margin-left:3em;
}

.credit{
	text-align:right;
	float: right;
	margin-right:3em;
}

.copyright, .credit{
	font-size:0.75em;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;

}

.copyright a, .credit a{
	text-decoration:none;
	color:black;
	font-weight:bold;

}

.copyright a:hover, .credit a:hover{
	text-decoration:underline;
	cursor:default;
}

@media screen and (max-width: 450px) {
	.credit{
		float:left;
		text-align:left;
		clear:both;
		margin: 0 0 0 1em;
	}

	.copyright{
		margin-left:1em;
}

	.nextCat, .previousCat{
		font-size:2em;
		margin-top:2em;

	}	

	.catName{
	float:left;
	margin: -2em 0 -2em 0.5em;
}

	h3{
		font-size:1.5em;
	}

	footer{
		margin-top:-0.25em;
	}


}	

