body {
  font-family: sans-serif;
  color: #262626;
}
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}
.header-container {
  padding-bottom: 60px;
}
.demo-dropdown {
  border: none;
	background-color: #f2f2f2;
	font-size: 14px;
	color: #262626;
	height: 30px;
	width: 175px;
	cursor: pointer;
  float: left;
  margin-right: 30px;
}
.map-container {
  margin: 0 auto;
  max-width: 1000px;
}

.state {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5px;
}

.county {
  fill: #f2f2f2;
  stroke: #ffffff;
  stroke-width: 0.5px;
}

.tooltip {
		position: fixed;
		text-align: left;
		padding: 10px;
		font-family: sans-serif;
		font-size: 13px;
		line-height: 16px;
		pointer-events: none;
		color: #262626;
		opacity: 0;
		background-color: #ffffff;
		border: 1px solid #262626;
	}

.tooltip p {
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  float: left;
}
.toggle-container {
  float: left;
  opacity: 0;
}
.toggle-container p, .search-container p {
  font-size: 14px;
  float: left;
  margin: 6px 5px 0 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.bubble input + .slider {
  background-color: #1c9099;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c9099;
}

.bubble input + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gradient-bar {
  width: 100%;
  height: 15px;
  margin-top: 20px;
  position: relative;
  background: -webkit-linear-gradient(left, #d0d1e6, #016450); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d0d1e6, #016450); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d0d1e6, #016450); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d0d1e6, #016450); /* Standard syntax */
}
.gradient-separations-container {
  width: 100%;
}
.separations {
  width: calc(20% - 1px);
  border-right: 1px solid #e6e6e6;
  height: 10px;
  float: left;
  margin-top: 2px;
}
.gradient-bar::before {
  display: inline-block;
  font-size: 12px;
  content: '0%';
  color: #bebebe;
  margin-top: 17px;
}
.gradient-bar::after {
  display: inline-block;
  font-size: 12px;
  content: '100%';
  color: #bebebe;
  margin-top: 17px;
  position: absolute;
  top: 0;
  right: 0;
}

.county-search {
  height: 25px;
  border: 1px solid #e6e6e6;
}

.county-search:focus {
  outline: none;
}
.search-container {
    margin-right: 30px;
    float: left;
    display: none;
}
.bolded {
  font-weight: bold;
}
