#quiz {
	max-width: 660px;
	font-family: "Proxima Nova", sans-serif;
	color: #333333;
}

h3 {
	font-weight: bold;
}

p {
	font-size: 15pt;
}

.text {
	margin-top: 1.5em;
}

.possible_answer  {
    padding: .75em;
    border: 1px solid #d3d3d3;
    background-color: white;
    border-radius: 3px;
}

.possible_answer:hover {
	background-color: #ededed;
	cursor: pointer;
    font-weight: bold;
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
	font-weight: bold;
	background-color: #ededed;
}

.wrong-answer {
	border: 2px solid #c32127;	
}

.correct-answer {
    border: 2px solid #2d9627;
}

.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
	text-align: center;
	color: white;
	padding: 1em;
	margin-top:2em;
	border-radius: 3px;
	background-color: #2f5491;
	font-weight: bold;
	font-size: 1.25em;
}

/*multimedia styling*/

img, .youtube {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 200px;
}

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
